.menu {
  font-family: 'Roboto', sans-serif;
}

.main-block__subtitle {
  font-family: 'Roboto', sans-serif;
}

.main-block__button {
    font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'PT Serif', serif;
}

.main-block__title {
  font-family: 'PT Serif', serif;
}
