.nav__container {
  font-family: 'Roboto', sans-serif;
}

.text__main {
  font-family: 'Roboto', sans-serif;
}

.text__button {
    font-family: 'Roboto', sans-serif;
}

.nav__logo {
  font-family: 'PT Serif', serif;
}

.text__header {
  font-family: 'PT Serif', serif;
}
